{% extends "base.html" %}

{% block content_outer %}

    {% if request.user.is_authenticated %}

    <button class="button" id="refresh_cluster" onclick="RefreshCluster();">Refresh Cluster</button>

    <h3>Your clustered movies</h3>

    <div class="container_loader" id="clustered_movie_loader">
        <div class="loader"></div>
        <p>Loading ...</p>
    </div>

    <div id="clustered_movie_area"></div>

    {% load static %}
    <script type="text/javascript" src="{% static 'js/rated_movies.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base_movie.js' %}"></script>

    <script type="text/javascript">
        // if user is logged in, search movie suggestions based on actors
        getRatedMoviesClustered();
        var url_refresh_movies = '{% url 'refresh-cluster' %}';
    </script>

    {% endif %}

{% endblock %}