{% extends "base.html" %}


{% block content_outer %}

    {% if request.user.is_authenticated %}

    <h2>Suggestions based on rated Movies</h2>

    <div class="container_loader" id="suggested_movie_loader">
        <div class="loader"></div>
        <p>Searching ...</p>
    </div>

    <div id="suggested_movie_cluster_area"></div>

    {% endif %}


    {% load static %}
    <script type="text/javascript">
        var url_movie_search_short = '{% url 'movie-search-short' only_rated_movies=0 %}';
    </script>
    <link rel="stylesheet" href="{% static 'css/jquery.rateyo.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery.rateyo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base_movie.js' %}"></script>

    {% if request.user.is_authenticated %}
    <script type="text/javascript">
        // if user is logged in, search similar movies initially
        //getMovieSuggestions('similarity');
        //getMovieSuggestions('movielen_rating');
        getMovieSuggestionsCluster();
    </script>
    {% endif %}

{% endblock %}