{% extends "base.html" %}

{% block content_outer %}


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/jquery.rateyo.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery.rateyo.min.js' %}"></script>
    <script type="text/javascript">
        var url_movie_search_short='';
        var url_movie_search_long = '';
    </script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
     <div class="rateyo"></div>

     <script>
      $(function(){
            $(".rateyo").each(function (e) {
                $(this).rateYo({
                    rating: 0,
                    starWidth: "40px",
                    numStars: 5,
                    fullStar: true
                }).on("rateyo.set",function(e, data){
                    if (confirm('Are you sure to change your rating?')){
                        console.log(data.rating);
                    }
                });
            });
        });
    </script>

<div class="scrollmenu">
  <div class="similarity_class">
      <p>Test 1</p>
      <p>Test 2</p>
  </div>
  <div class="similarity_class">
      <p>Test 1</p>
      <p>Test 2</p></div>
  <div class="similarity_class">
      <p>Test 1</p>
      <p>Test 2</p>
  </div>
  <div class="similarity_class">Item 4</div>
  <div class="similarity_class">Item 5</div>
  <div class="similarity_class">Item 6</div>
  <div class="similarity_class">Item 7</div>
  <div class="similarity_class">Item 8</div>
  <div class="similarity_class">Item 9</div>
  <div class="similarity_class">Item 10</div>
</div>

<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a onclick="addFilter('hallo','welt');">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

<div class="loader"></div>

    <img src="{% static 'pictures/blade_runner_2049.jpg' %}">
{% endblock %}